linkColor(theColor)
	> line
		stroke theColor
	> use
		fill theColor


.link:hover
	opacity 1
.node
	circle, path
		fill: #aaa
.node.WoT_MembreReferent
	circle, path
		fill: hsl(120,80%,30%)
.node.WoT_MembreNonReferent
	circle, path
		fill: hsl(90,70%,50%)


.link.linkType_Certification
	linkColor(#2D7)
.link.linkType_pendingCert
	linkColor(#4DE)
.link.linkType_Transaction
	linkColor(#DA0)
/*.link.Links_AncienLien
	> line
		stroke-dasharray: 5,5
*/
#viz .link.selected
	linkColor(black)
#viz .node.selected
	> circle
		stroke black
	> path
		stroke black
